In [2]:
import pandas as pd
import numpy as np
import matplotlib

In [41]:
data = pd.read_csv("Hip_Hop _ Vocab_Chart-Full.csv")

In [19]:
data.head()

,notes,recalc,era,rapper,rapper_clean,color,words,id,source
0,NaN,2988.0,2010s,21 Savage,21 Savage,NaN,2988,21-savage,new
1,NaN,3812.0,2010s,2 Chainz,2 Chainz,NaN,4148,2chainz,poster
2,NaN,3815.0,1990s,2Pac,2Pac,west nowutang second,"3,970",2pac,site
3,NaN,3384.0,2000s,50 Cent,50 Cent,east nowutang first,"3,591",50-cent,site
4,NaN,4534.0,2010s,Ab-Soul,Ab-Soul,NaN,4534,absoul,new

In [4]:
%matplotlib inline

In [20]:
data.groupby('era').agg(['mean', 'count', 'max'])

            recalc
              mean count     max
era
1980s  4207.500000     8  4655.0
1990s  4544.704545    44  6390.0
1999s  4620.000000     1  4620.0
2000s  4633.580000    50  7879.0
2010s  3722.807018    57  5413.0

In [43]:
# because 1999s belongs in 1990s and there is only one entry, going to replace 1999s by 1990s
data.replace('1999s', '1990s', inplace = True)

In [22]:
grp_by_era = data.groupby('era').agg(['mean', 'count', 'max'])
grp_by_era

            recalc
              mean count     max
era
1980s  4207.500000     8  4655.0
1990s  4546.377778    45  6390.0
2000s  4633.580000    50  7879.0
2010s  3722.807018    57  5413.0

In [24]:
data.groupby('era').agg(['max'])

,recalc,rapper,rapper_clean,id
,max,max,max,max
era,,,,
1980s,4655.0,Too Short,Too Short,too-short
1990s,6390.0,Wu-Tang Clan,Wu-Tang Clan,wu-tang
2000s,7879.0,Young Jeezy,Young Jeezy,young-jeezy
2010s,5413.0,YoungBoy Never Broke Again,YoungBoy Never Broke Again,young-thug

In [44]:
data.loc[data['era'] == '2010s']

,notes,recalc,era,rapper,rapper_clean,color,words,id,source
0,NaN,2988.0,2010s,21 Savage,21 Savage,NaN,2988,21-savage,new
1,NaN,3812.0,2010s,2 Chainz,2 Chainz,NaN,4148,2chainz,poster
4,NaN,4534.0,2010s,Ab-Soul,Ab-Soul,NaN,4534,absoul,new
5,NaN,5233.0,2010s,Action Bronson,Action Bronson,NaN,6186,action,poster
7,NaN,4414.0,2010s,A$AP Rocky,A$AP Rocky,NaN,4414,asap,new
8,NaN,3851.0,2010s,A$AP Ferg,A$AP Ferg,NaN,3851,asap-ferg,new
12,NaN,3823.0,2010s,Big KRIT,Big KRIT,NaN,3823,big-krit,new
14,NaN,3563.0,2010s,Big Sean,Big Sean,NaN,3563,big-sean,new
17,NaN,3748.0,2010s,BoB,BoB,NaN,"3,748",bob,new
19,NaN,2738.0,2010s,A Boogie wit da Hoodie,A Boogie wit da Hoodie,NaN,2738,boogie-hoodie,new
21,NaN,3924.0,2010s,Brockhampton,Brockhampton,NaN,3924,brockhampton,new
28,NaN,3682.0,2010s,Childish Gambino,Childish Gambino,NaN,4465,childish,poster
32,NaN,3965.0,2010s,Cupcakke,Cupcakke,NaN,3965,cupcakke,new
34,NaN,4361.0,2010s,Danny Brown,Danny Brown,NaN,NaN,danny,poster
37,NaN,4282.0,2010s,Death Grips,Death Grips,NaN,"4,282",death,new
39,NaN,4426.0,2010s,Denzel Curry,Denzel Curry,NaN,4426,denzel,new
42,NaN,3347.0,2010s,Drake,Drake,other nowutang first,"3,347",drake,site
47,NaN,4879.0,2010s,Flatbush Zombies,Flatbush Zombies,NaN,4879,flatbush,new
49,NaN,3321.0,2010s,Future,Future,NaN,3321,future,new
50,NaN,3468.0,2010s,G-Eazy,G-Eazy,NaN,3468,g-eazy,new
58,NaN,3898.0,2010s,Hopsin,Hopsin,NaN,3898,hopsin,new
63,NaN,3426.0,2010s,J Cole,J Cole,NaN,3911,j-cole,poster
65,NaN,4163.0,2010s,Jay Rock,Jay Rock,NaN,4163,jay-rock,new
70,NaN,4871.0,2010s,Joey BadA$$,Joey BadA$$,NaN,4871,joey,new
75,NaN,5107.0,2010s,KAAN,KAAN,NaN,5107,kaan,new
78,NaN,4017.0,2010s,Kendrick Lamar,Kendrick Lamar,NaN,"4,013",kendrick,poster
80,NaN,3318.0,2010s,Kid Cudi,Kid Cudi,NaN,3318,kid-cudi,new
81,NaN,3055.0,2010s,Kid Ink,Kid Ink,NaN,"3,055",kid-ink,new
83,NaN,3197.0,2010s,Kodak Black,Kodak Black,NaN,"3,197",kodak,new
88,remove,3842.0,2010s,Lil B,Lil B,west nowutang second,"3,724",lil-b,site
89,NaN,2762.0,2010s,Lil Baby,Lil Baby,NaN,"2,762",lil-baby,new
90,NaN,2988.0,2010s,Lil Durk,Lil Durk,NaN,2988,lil-durk,new
92,NaN,2556.0,2010s,Lil Uzi Vert,Lil Uzi Vert,NaN,"2,556",lil-uzi-vert,new
94,NaN,3161.0,2010s,Lil Yachty,Lil Yachty,NaN,"3,161",lil-yachty,new
96,NaN,3281.0,2010s,Logic,Logic,NaN,3281,logic,new
99,NaN,3960.0,2010s,Mac Miller,Mac Miller,NaN,4246,mac-miller,poster
101,NaN,3690.0,2010s,Machine Gun Kelly,Machine Gun Kelly,NaN,3690,machine,new
104,NaN,3454.0,2010s,Meek Mill,Meek Mill,NaN,3454,meek,new
107,NaN,3193.0,2010s,Migos,Migos,NaN,3193,migos,new
114,NaN,2472.0,2010s,NF,NF,NaN,2472,nf,new
115,4,3616.0,2010s,Nicki Minaj,Nicki Minaj,east nowutang third,"4,162",nicki-minaj,site
123,remove,2853.0,2010s,Rich Homie Quan,Rich Homie Quan,NaN,2853,rich-homie,new
124,remove,2709.0,2010s,Rich the Kid,Rich the Kid,NaN,2709,rich-the-kid,new
126,NaN,4757.0,2010s,Rittz,Rittz,NaN,4757,rittz,new
130,NaN,3491.0,2010s,Russ,Russ,NaN,"3,491",russ,new
135,NaN,4097.0,2010s,ScHoolboy Q,ScHoolboy Q,NaN,4097,schoolboy,new
138,NaN,4374.0,2010s,$uicideboy$,$uicideboy$,NaN,"4,374",suicideboys,new
144,NaN,3392.0,2010s,Travis Scott,Travis Scott,NaN,"3,392",travis-scott,new
149,NaN,3946.0,2010s,Tyga,Tyga,west nowutang fifth,"4,601",tyga,site
150,NaN,4431.0,2010s,Tyler the Creator,Tyler the Creator,NaN,"4,431",tyler,new
152,NaN,3883.0,2010s,Vince Staples,Vince Staples,NaN,"3,883",vince,new
153,NaN,4272.0,2010s,Wale,Wale,east nowutang fifth,"4,896",wale,site
154,NaN,5413.0,2010s,Watsky,Watsky,NaN,5651,watsky,poster
155,NaN,3048.0,2010s,Wiz Khalifa,Wiz Khalifa,midwest nowutang second,"3,707",wiz-khalifa,site
158,NaN,3029.0,2010s,YG,YG,NaN,3029,yg,new
159,NaN,2724.0,2010s,YoungBoy Never Broke Again,YoungBoy Never Broke Again,NaN,2724,young-boy,new
161,NaN,3395.0,2010s,Young Thug,Young Thug,NaN,3395,young-thug,new